<li>
	<%= gravatar_for user, size: 52 %>
	<%= link_to user.name, user %>
	<% if current_user.admin? and !current_user?(user) then %>
		| <%= link_to 'удалить', user, method: :delete, data: { confirm: 'Вы уверены?' } %>
	<% end %>
</li>